body {
  background-color: #3a3a3a;
  color: lightsalmon;
}

h1 {
  font-family: "Arial, sans-serif";
}

h2 {
  background-color: lightsalmon;
  padding: 30px;
  color: yellow;
}

p {
  padding: 30px;
}


